[submodule "AuthService"]
	path = AuthService
	url = https://github.com/JaAncaten/AuthService.git
[submodule "Usuario_Service"]
	path = Usuario_Service
	url = https://github.com/JaAncaten/Usuario_Service.git
[submodule "Mascota_Service"]
	path = Mascota_Service
	url = https://github.com/JaAncaten/Mascota_Service.git
[submodule "Atencion_Service"]
	path = Atencion_Service
	url = https://github.com/JaAncaten/Atencion_Service.git
[submodule "Agenda_Service"]
	path = Agenda_Service
	url = https://github.com/JaAncaten/Agenda_Service.git
[submodule "FichaClinica-Service"]
	path = FichaClinica-Service
	url = https://github.com/JaAncaten/FichaClinica-Service.git
[submodule "Catalogo-Service"]
	path = Catalogo-Service
	url = https://github.com/JaAncaten/Catalogo-Service.git
[submodule "VetNova-Inventario"]
	path = VetNova-Inventario
	url = https://github.com/JaAncaten/VetNova-Inventario.git
[submodule "Venta-Service"]
	path = Venta-Service
	url = https://github.com/JaAncaten/Venta-Service.git
[submodule "Pago-Service"]
	path = Pago-Service
	url = https://github.com/JaAncaten/Pago-Service.git
[submodule "VetNova-API"]
	path = VetNova-API
	url = https://github.com/JaAncaten/VetNova-API.git
