[submodule "AuthService"]
	path = AuthService
	url = https://github.com/JaAncaten/AuthService.git
[submodule "Usuario_Service"]
	path = Usuario_Service
	url = https://github.com/JaAncaten/Usuario_Service.git
[submodule "Mascota_Service"]
	path = Mascota_Service
	url = https://github.com/JaAncaten/Mascota_Service.git
